body{
    margin:0;
}
body,*{
    background-color: black;
    color: white;
}
#navig{
    width: 20%;
    height: 1000px;
    float:left;
    border: 1px solid pink;
    box-sizing: border-box;
}
.pages{
    height: 30px;
    width:100%;
    float:right;
    border: 1px solid pink;
    box-sizing: border-box;
}
main{
    float:left;
    box-sizing: border-box;
    width: 80%;
    height:1000px;
    border: 1px solid pink;
}
