@import "styles/variables";

body {
    margin: 0;
    background: linear-gradient(90deg, rgba(249,255,0,1) 16%, rgba(0,252,255,1) 46%, rgba(253,45,220,1) 83%);
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Nanum Pen Script', cursive;
}
#body-background-white {
    background-color: white;
    mix-blend-mode: hard-light;
    &-dots {
        background: radial-gradient(rgb(189, 189, 189) 20%, rgba(0,0,0,0) 0),
        radial-gradient(rgb(189, 189, 189) 20%, rgba(0,0,0,0) 0), transparent;
        background-position: 0 0, 30px 30px;
        background-size: 60px 60px;
        filter: blur(5px);
        height: 100vh;
        width: 100%;
    }
}
#main {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
#list {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    &__wrapper {
        height: 100vh;
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    p {
        margin: 20px 0 20px 0;
    }
    a {
        color: $prismarine;
        transition: color 0.1s ease-out, text-shadow 0.5s ease-out;
        padding: 10px;
        &:hover {
            color: white;
            text-shadow: 1px 1px 2px $prismarine-dark, 0 0 1em $prismarine-dark, 0 0 0.2em $prismarine-dark;
        }
    }
}
#me {
    width: 30%;
}
#profile {
    height: calc(100% - 100px);
    width: 60%;
    position: relative;
    top: 0;
    &-pic {
        transform: translate(10%, -20%);
        width: 100%;
        border-radius: 50%;
        margin-top: 40%;
        padding-left: 0;
    }
    &__pic--bg {
        display: block;
        background: radial-gradient(at 89% 81%, hsla(66,100%,50%,1) 0px, transparent 50%),
        radial-gradient(at 20% 33%, hsla(317,83%,64%,1) 0px, transparent 50%),
        radial-gradient(at 99% 44%, hsla(317,78%,65%,1) 0px, transparent 50%),
        radial-gradient(at 100% 4%, hsla(357,92%,79%,1) 0px, transparent 50%),
        radial-gradient(at 0% 60%, hsla(254,90%,59%,1) 0px, transparent 50%),
        radial-gradient(at 4% 100%, hsla(108,94%,65%,1) 0px, transparent 50%),
        radial-gradient(at 32% 10%, hsla(85,85%,64%,1) 0px, transparent 50%),
        radial-gradient(at 41% 91%, hsla(294,93%,68%,1) 0px, transparent 50%);
        border-radius: 50%;
        width: 100%;
        padding-bottom: 100%;
        filter: blur(15px);
        position: absolute;
        margin-top: 30%;
    }
    &__info {
        padding-left: 0;
        margin-top: 0;
        display: block;
        p {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }
        &--username {
            font-family: 'Delicious Handrawn', cursive;
            font-size: 6vw;
            margin: 0 0 0 2vw;
            a {
                text-decoration: dotted;
                color: $purple;
                transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
                &:hover {
                    color: white;
                    text-shadow: 1px 1px 2px $purple, 0 0 1em $purple, 0 0 0.2em $purple;
                }
            }
        }
        &--name {
            font-size: 3vw;
            margin: 0 0 0 3vw;
        }
        &--location {
            font-size: 3vw;
            margin: 0 0 0 3vw;
        }
        &--bio {
            font-size: 3vw;
            margin: 0 0 0 3vw;
        }
    }
}
.material-symbols-outlined {
    font-size: 2vw !important;
    margin-right: -2.5vw;
    margin-left: 3vw;
}

@import "styles/mobile";
