@media screen and (max-width: 1300px) {
    #output {
        .drink__section {
            height: 250px;
            .drink__title {
                font-size: 20px;
            }
            .drink__img {
                height: 125px;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    #output {
        .drink__section {
            height: 200px;
            .drink__title {
                font-size: 20px;
            }
            .drink__img {
                height: 100px;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    #output {
        .drink__section {
            height: 160px;
            .drink__title {
                font-size: 15px;
            }
            .drink__img {
                height: 75px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    #output {
        .drink__section {
            width: 25%;
            height: 160px;
            .drink__title {
                font-size: 15px;
            }
            .drink__img {
                height: 75px;
            }
        }
    }
}