body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  font-family: 'Dongle', sans-serif;
  background-color: black;
}

p {
  margin: 0;
  color: #f8b6c7;
}

#main {
  width: 70%;
  height: 100%;
  background-color: #880d2e;
  box-shadow: 0px 0px 33px 0px #ed416f;
  border-left: 7px dashed #e5164d;
  border-right: 7px dashed #e5164d;
}

#input-section {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#input-section__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#input-section input[type="text"] {
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 40%;
  height: 55px;
  padding-inline: 0;
  padding-block: 0;
  padding-left: 20px;
  color: black;
  font-size: 40px;
  padding-top: 5px;
  font-family: 'Dongle', sans-serif;
  background-color: #fce4eb;
}

#input-section #go {
  border: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 10%;
  height: 60px;
  margin-left: -4px;
  font-size: 40px;
  padding-top: 5px;
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  background-color: #e5164d;
  color: #fce4eb;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#input-section #go:hover {
  background-color: #ce1446;
  color: white;
}

#title {
  font-size: 72px;
  font-weight: 700;
  color: white;
}

#title__closest-record {
  font-size: 50px;
  color: #fce4eb;
}

#title__chart {
  font-size: 50px;
  color: #fce4eb;
}

#response {
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#chart {
  width: 80%;
  height: 400px;
}

path {
  stroke: #facdd9;
}

svg rect {
  fill: #b7113e;
}

svg g rect {
  fill: #f17092;
}

text {
  fill: #fce4eb;
  font-size: 17px;
}

#current {
  font-size: 40px;
}

@media screen and (max-width: 950px) {
  #input-section input[type="text"] {
    width: 60%;
    padding-left: 20px;
    font-size: 30px;
  }
  #input-section #go {
    width: 20%;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  #input-section {
    height: 30%;
  }
  #response {
    height: 70%;
    justify-content: left;
  }
  #title__closest-record {
    font-size: 43px;
  }
  #title__chart {
    font-size: 43px;
  }
  #chart {
    width: 85%;
    height: 350px;
  }
  text {
    font-size: 13px;
  }
  #current {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  #main {
    width: 85%;
  }
  #input-section input[type="text"] {
    width: 55%;
    padding-left: 20px;
    font-size: 25px;
    height: 45px;
  }
  #input-section #go {
    width: 15%;
    height: 50px;
    font-size: 25px;
  }
  #title__closest-record {
    font-size: 35px;
  }
  #title__chart {
    font-size: 35px;
  }
  #chart {
    width: 90%;
    height: 300px;
  }
  text {
    font-size: 13px;
  }
  #current {
    font-size: 27px;
  }
}
