body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 187, 202);
    font-family: Helvetica;
}
body, * {
    color: white;
    text-align: center;
}
#banner {
    width: 100%;
    background-color: rgb(211, 32, 71);
    line-height: 40px;
    font-size: 30px;
    text-shadow: 1px 1px 15px black;
}
#system {
    box-sizing: border-box;
    width: 70%;
    height: 90%;
    position: relative;
}
main {
    width: 100%;
    height: 800px;
    background-color: rgb(255, 187, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}
#tlo {
    background: url("./images/wallpaper.jpg") no-repeat;
    background-size: 100% 700px;
    width: 100%;
    height: 700px;
}
#panel {
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 10px rgb(93, 93, 93);
    position: relative;
}
.icons {
    height: 110px;
    width: 80px;
    left: 15px;
    position: relative;
    text-shadow: 5px 5px 5px black;
}
.icons:hover {
    background-color: rgba(0, 0, 100, 0.2);
}
.panelicons {
    height: 30px;
    padding: 10px;
    float: left;
}
.panelicons:hover {
    background-color: rgba(255,255,255,0.1);
}
#winpanel div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#winpanel div:hover {
    background-color: rgba(255,255,255,0.1);
}
#winpanelelemtext {
    line-height: 30px;
}
#data {
    position: absolute;
    bottom: 0; 
    right: 5px;  
}