body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
}
body, * {
    color: white;
    text-align: center;
}
#banner {
    width: 100%;
    background-color: #8a817c;
    line-height: 40px;
    font-size: 50px;
    font-weight: bolder;
    box-shadow: 0 0 5px gray;
    z-index: 40;
}
#colors h3 {
    text-shadow: 0 0 5px black;
}
#colors .colorHEX {
    margin: 20px auto 20px auto;
    color: rgb(63, 63, 63);
    font-weight: 700;
    font-size: 20px;
    padding: auto;
    width: fit-content;
    text-transform: uppercase;
}
#colorsName {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
main {
    box-sizing: border-box;
    width: 100%;
    height: 1000px;
    background-color: #bcb8b1;
    display: flex;
}

#colors {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    background-color: #bcb8b1;
}
#colors input[type='color'] {
    width: 200%;
    height: 200%;
    padding: 0;
    margin: 0;
    transform: translate(-25%, -25%);
}
.colorsBorder {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto 0 auto;
}
.colorsBorder2 {
    border-radius: 15px;
    margin: 0;
    padding: 0;
    height: fit-content;
    overflow: hidden;
    height: 40px;
}
#visual {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    background-color: #bcb8b1;
    position: relative;
}
#c1 {
    position: absolute;
    width: 120px;
    height:120px;
    line-height: 120px;
    border-radius: 50%;
    background-color: #FFFD8F;
    top: 40px;
    left: 40%;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    box-shadow: 2px 2px 2px black;
}
#c2 {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    background-color: #FFFA00;
    top: 50px;
    left: 20%;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    box-shadow: 2px 2px 2px black;
}
#c3 {
    position: absolute;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    background-color: #A49500;
    top: 230px;
    left: 60%;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    box-shadow: 2px 2px 2px black;
}
#c4 {
    position: absolute;
    width: 170px;
    height:170px;
    line-height: 170px;
    border-radius: 50%;
    background-color: #403910;
    top: 110px;
    left: 50%;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    box-shadow: 2px 2px 2px black;
}
#c5 {
    position: absolute;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    background-color: #0A0700;
    top: 150px;
    left: 30%;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
    box-shadow: 2px 2px 2px black;
}
#visual button {
    top: 500px;
    left: 40%;
    position: absolute;
    padding: 10px 20px;
    font-size: 30px;
    background-color: transparent;
    border: 3px solid yellow;
    border-radius: 10px;
    color: yellow;
    text-shadow: 0 0 5px black;
    box-shadow: inset 0 0 5px gray,
    0 0 5px gray;
    
}
#visual button:hover {
    background-color: yellow;
    border: 3px solid yellow;
    border-radius: 10px;
    color: gray;
    text-shadow: none;
    box-shadow: 0 0 5px gray;
    
}
#mainCircle {
    text-transform: uppercase;
}